*{
    box-sizing: border-box;
    background-color: #fff;
}
.portfolio{
    font-size: 24px;
    
}
.portfolio_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background: blue; */
    /* height: 300px; */
}
.item_pics{
    width: calc(50% - 7px);
    height: 300px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
}
.item_pics img{
    background:none;
    /* transform: scale3d(2px 2, 2); */
    /* transform: translate3d(100px,0px,0px  ); */
}
.items_pics_hover{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter:invert(40px); */
    /* opacity: 0; */
    /* transition: opacity 5s all; */
    transform: rotate3d(1, 1, 0, 90deg);
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.hover{
    /* animation-name: quti;
    animation-duration: 1s; */
    /* background-color: red; */
    transform: rotate3d(0, 0, 0, 0deg);
    color: white;

    /* position: relative; */
}
.hover h3{
position: absolute;
background-color: none;
background-color: transparent;

}
.hover_section {
background-color: transparent;
background:none;
color: white;
margin-top: 20px;
margin-left: 20px;
}
.hover_section *{
    background-color: transparent;

}
